.new-background-color {
    --background: #ff0000;
}

ion-slides {
    height: 80px;
    ion-slide {
        height: 80px;
        img {
            border-radius: 50%;
            height: 40px;
            width: 40px;
        }
    }
}

.shortcut-noti {
    height: 10px !important;
    width: 10px !important;
    position: fixed;
    margin-left: -10px;
}

:root {
    --ion-safe-area-top: 20px;
    --ion-safe-area-bottom: 22px;
}